<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1 float-left">{{title}}</span>
  
  <div class="dropdown float-left" *ngIf="dataTableValues.length > 0">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Module
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <!-- <span class="dropdown-item" (click)="generateForm = false; hideColumn=true; showDatatable = false" >Column Entry Module</span> -->
      <span class="dropdown-item" (click)="generateForm=true; hideColumn=false; showDatatable=false">Table Entry Module</span>
      <span class="dropdown-item" (click)="generateForm=false; hideColumn=false; showDatatable=true; createTable()">Table View Module</span>
    </div>
  </div>
  <div class="float-right"><a href="https://github.com/Siva021/Angular-Task" target="_blank">
    <img src="../assets/imgs/github-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      GitHub
    </a>
  </div>
</nav>
<div class="p-3">
  <div *ngIf="hideColumn">
    <h3 class="text-center mb-2">Column Module</h3>
    <div class="row">
      <input class="col-3 float-left ml-2 manBorder" placeholder="Column Name" [(ngModel)] = "columnName">
      <select class="col-3 float-left ml-2 manBorder" placeholder="Column Type" [(ngModel)] = "columntype" (ngModelChange) = "columnChange(columntype)">
        <option *ngFor="let list of dropDownList" [value]="list.value">{{list.name}}</option>
      </select>
      <input *ngIf="columntype == 'multiselect'" class="col-3 float-left ml-2 manBorder" [(ngModel)]="multiselectValues">
      <div class="addImg col-2 float-left ml-2" (click)="addColumn()"></div>
    </div>

    <div *ngIf="tableEntries.length > 0">
      <div *ngFor="let data of tableEntries"> Name: {{data.name}},Type: {{data.type}}</div>
    </div>

    <div class="mt-3 w-100">
      <button class="btn btn-large btn-primary m-auto d-block" (click)="createForm()">Submit</button>
    </div>
  </div>

  <div class="mt-4 mb-3" *ngIf="generateForm">
    <h3 class="text-center mb-2">Table Entry Module</h3>
    <button class="btn btn-large btn-primary m-auto d-block" (click)="addNewRow()">Add New</button>
    <!-- <form (ngSubmit)="createNgTable()" [formGroup]="userForm">
      <div *ngFor="let question of questions" class="form-row">
        <app-question [question]="question" [form]="form"></app-question>
      </div>
    </form> -->
    <!-- <div class="" *ngFor="let data of dataValues">
      <div class="row" *ngFor="let tableEntry of tableEntries;">
        <label class="col-4">{{tableEntry.name}}</label>
        <input class="col-6" *ngIf="tableEntry.type == 'number'" type="number" [(ngModel)]="data[tableEntry.name]" (change)="onChanges(data)">
        <input class="col-6" *ngIf="tableEntry.type == 'date'" type="date" [(ngModel)]="data[tableEntry.name]">
        <select class="col-6" *ngIf="tableEntry.type == 'multiselect'" [(ngModel)]="data[tableEntry.name]" (change)="getUserOption(userOptions3)">
          <option *ngFor="let opt of tableEntry.options" value="opt">{{opt}}</option>
        </select>
      </div>
    </div> -->
    <table class="border w-100">
      <thead>
        <tr>
          <th *ngFor="let tableEntry of tableEntries;" class="border text-center">{{tableEntry.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataValues;let y=index">
          <td *ngFor="let tableEntry of tableEntries;let x=index;" class="border text-center">
            <input id ="index_{{y}}_{{x}}" *ngIf="tableEntry.type == 'number'" (focus)="onFocus($event.target.id)" class="manBorder" type="number" [(ngModel)]="data[tableEntry.name]" pattern = "[0-9]" required>
            <input id ="index_{{y}}_{{x}}" *ngIf="tableEntry.type == 'date'" (focus)="onFocus($event.target.id)" class="manBorder" type="date" [(ngModel)]="data[tableEntry.name]" required>
            <select id ="index_{{y}}_{{x}}" *ngIf="tableEntry.type == 'multiselect'" (focus)="onFocus($event.target.id)" class="manBorder" [(ngModel)]="data[tableEntry.name]" (ngModelChange)="getUserOption(data[tableEntry.name])" required>
              <option *ngFor="let opt of tableEntry.options">{{opt}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-3 w-100">
      <button class="btn btn-large btn-primary m-auto d-block" (click)="createTable()">Submit</button>
    </div>
  </div>


  <div *ngIf="showDatatable">
    <div>
      <h3 class="text-center mb-2">Table View Module</h3>
    <div>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th *ngFor="let tableEntry of tableEntries;" class="border text-center">{{tableEntry.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataTableValues;">
          <td *ngFor="let tableEntry of tableEntries;" class="border text-center">{{data[tableEntry.name]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>